<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-md-6">
      <app-invoice></app-invoice>
    </div>
    <div class="col-md-6">
      <app-invoice-data></app-invoice-data>
    </div>
  </div>
</div>
