<div class="row no-gutters">
  <div class="col-sm-12">
    <div class="top_controls">
      <button class="btn-sm">
        <div>
          <i class="fa fa-envelope"></i>
          <span>Direct</span>
        </div>
      </button>
      <div class="cluster">
        <button class="btn btn-more">
          <div>
            <span>More</span>
            <i class="fa fa-caret-down"></i>
          </div>
        </button>
        <button class="btn btn-approve">Approve</button>
      </div>
    </div>
  </div>
</div>