.row
    background:#fff

    .top_controls
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0 32px
        margin: 14px 0

        .btn
            border-radius: 2px
            height: 34px
            text-align: center
            font-size: 12px

            &.btn-more
                width: 78px
                background: #e8eef2
                margin-right: 8px
                border: solid 1px #b8bec2

                div
                    display: flex
                    align-content: center
                    justify-content: space-around

                i
                    color: #7c8286
                    margin-top: 1px
            
            &.btn-approve
                width: 144px
                background: #4495ec
                border: none
                color: #fff
                border: solid 1px #3b84d3

        .btn-sm
            border-radius: 15px
            height: 24px
            width: 69px
            font-size: 8px
            border: 1px solid #e5e5e5
            text-transform: uppercase
            color: #bfbfbf
            padding: 0 4px
            font-weight: bold
            vertical-align: middle

            div
                display: flex
                align-content: center
                justify-content: space-around

                i
                    color: #4495ec
                    margin-top: 1px

